/* ======================= */
.top {
  width: 100%;
  height: 340px;
  position: relative;
}

.bgImg {
  position: absolute;
  object-fit: cover;
  object-position: top;
  opacity: 0.22;
  width: 100%;
  height: 100%;
}

.topContent {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.topText {
  font-size: 30px;
  color: #40435E;
}

.topButtons {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.topButton {
  padding: 12px 35px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.askButton {
  color: white;
  background: linear-gradient(to right, #7DB0FC, #095FC5);
  margin-bottom: 20px;
}

.askButtonText {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 600px) {
  .topContent {
    flex-direction: row;
    justify-content: center;
  }

  .topButtons {
    flex-direction: column;
    width: fit-content;
    margin-left: 50px;
  }
}

/* ======================= */
.bubble {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubble h2 {
  font-weight: 600;
  font-size: 15px;
  color: #696679;
  padding: 40px 0 30px 0;
}

.chatBubbles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatBubbleContainer {
  width: 80%;
  display: flex;
  margin-bottom: 15px;
}

.chatSpacer {
  width: 50px;
}

.chatBubble {
  padding: 20px 30px;
  border: solid 1.3px #EFF0F6;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.06);
}

.chatBubble1 {
  border-radius: 30px 30px 30px 0;
}

.chatBubble2 {
  border-radius: 30px 30px 0 30px;
}

.chatHeading {
  font-size: 15px;
  font-weight: bold;
  color: #696679;
  margin-bottom: 15px;
}

.chatContent {
  font-family: 'DM Sans';
  font-size: 14px;
  color: #6F6C90;
}

.seeExamples {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin: 10px 30px 0 0;
  color: #696679;
}

.seeExamples p {
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
}

.seeExamples i {
  font-size: 15px;
}

/* ======================= */
.points {
  padding: 70px 30px;
}

.points > .point:not(:last-child) {
  margin-bottom: 60px;
}

.pointHeading {
  font-size: 20px;
  color: #50526a;
  margin-bottom: 17px;
}

.pointContent {
  font-size: 13px;
  color: #696969;
  line-height: 1.7;
}

@media screen and (min-width: 770px) {
  .points {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .point {
    width: 80%;
  }
}

/* ======================= */
.form {
  padding: 0 0 50px 0;
}

.formContent {
  width: 100%;
  /* height: max-content; */
}
