/* ======================= */
.top {
  width: 100%;
  height: 390px;
  position: relative;
}

.bgImg {
  position: absolute;
  object-fit: cover;
  object-position: top;
  opacity: 0.22;
  width: 100%;
  height: 100%;
}

.topContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 30px;
}

.header {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.logoContainer p {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
}

.logoContainer h1 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/* .linkContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
} */

.linkContainer {
  display: flex;
  align-items: start;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.headerLink1 {
  margin-right: 15px;
}

.topContent {
  padding: 40px 0 60px 0;
}

.topText {
  font-size: 30px;
  color: #40435E;
}

.topButton {
  width: fit-content;
  margin-top: 50px;
  padding: 12px 35px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.askButton {
  color: white;
  background: linear-gradient(to right, #7DB0FC, #095FC5);
  margin-bottom: 20px;
}

.askButtonText {
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 600px) {
  .topContent {
    flex-direction: row;
    justify-content: center;
  }

  .topButtons {
    flex-direction: column;
    width: fit-content;
    margin-left: 50px;
  }
}

/* ======================= */
.bubble {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubble h2 {
  font-weight: 600;
  font-size: 15px;
  color: #696679;
  padding: 40px 0 30px 0;
}

.chatBubbles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatBubbleContainer {
  /* width: 80%; */
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.chatSpacer {
  width: 50px;
}

.chatBubble {
  padding: 20px 60px;
  border: solid 1.3px #EFF0F6;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.06);
}

.chatBubble1 {
  border-radius: 30px 30px 30px 0;
}

.chatBubble2 {
  border-radius: 30px 30px 0 30px;
}

.chatHeading {
  font-size: 15px;
  font-weight: bold;
  color: #696679;
  /* margin-bottom: 15px; */
}

.chatContent {
  font-family: 'DM Sans';
  font-size: 14px;
  color: #6F6C90;
}

.seeExamples {
  display: flex;
  align-items: center;
  color: #696679;
}

.seeExamples p {
  font-size: 15px;
  font-weight: 600;
  margin-right: 5px;
  width: max-content;
}

.seeExamples i {
  font-size: 15px;
}

/* ======================= */
.points {
  padding: 80px 30px;
}

.points > .point:not(:last-child) {
  margin-bottom: 60px;
}

.pointBigHeading {
  font-size: 24px;
  color: #50526a;
  margin-bottom: 28px;
}

.pointHeading {
  font-size: 14px;
  color: #696969;
  margin-bottom: 14px;
}

.pointContent {
  font-size: 13px;
  color: #696969;
  line-height: 1.7;
}

@media screen and (min-width: 770px) {
  .points {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .point {
    width: 80%;
  }
}

/* ======================= */
.form {
  padding: 0 0 50px 0;
}

.formContent {
  width: 100%;
  /* height: max-content; */
}
