/* ======================= */
.header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}

.logo {
    /* font-family: 'Poppins'; */
    font-size: 19px;
    /* font-weight: bold; */
    color: #40435E;
}

.menuBar {
    font-size: 17px;
    color: #40435E;
    cursor: pointer;
}

/* ======================= */
.menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.closeMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: #53566e;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.links > * {
    margin-bottom: 20px;
}