/* ======================= */
.footer {
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    background-color: #50526a;
    /* background-color: #f9f9f9; */
}

.footerLogoContainer {
    padding: 20px 0 20px 0;
}

.footerLogo {
    font-size: 20px;
    /* margin-left: 20px; */
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
}

.footerLinks > a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

.footerLinks > a:not(:last-child) {
    margin-bottom: 10px;
}

.copyright {
    margin: 40px 0 0 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    align-self: center;
}
